h1{
  font-size: 50px;
  font-family: 'Staatliches', cursive;
  text-align: center;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

body{
  background-color: #fbfbfb;
}

p{
  color: grey;
  font-weight: 100;
  font-size: 20px;
  line-height: 30px;
  font-family: helvetica;
  width: 50%;
  max-width: 800px;
  min-width: 300px;
  padding-top: 40px;
  padding-bottom: 40px;
}

li{
  color: black;
  padding-left: 20px;
  font-family: helvetica;
  font-weight: 100;
  font-size: 25px;
  width: 50%;
  max-width: 800px;
  min-width: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.image{
  height: 600px;
  width: 450px;
}

.image2{
  align-content: center;
}

.title{
  font-size: 72px;
  font-family: helvetica;
  text-align: center;
}

.special{
  text-align: center;
  align-items: center;
  width: 100%
}

.Contact{
  text-align: center;
  align-content: center;
}
