h1{
  font-size: 50px;
  font-family: 'Staatliches', cursive;
  text-align: center;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

body{
  //background-color: #fbfbfb;
}

p{
  color: grey;
  font-weight: 100;
  font-size: 20px;
  line-height: 30px;
  font-family: helvetica;
  padding-left: 100px;
}

li{
  color: grey;
  font-family: helvetica;
  font-weight: 180;
  font-size: 18px;
  max-width: 800px;
  min-width: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10%;
  margin-right: 10%;
}

.image{
  height: 600px;
  width: 450px;
}

.image2{
  align-content: center;
  padding-top: 10%
}

.title{
  font-size: 72px;
  font-family: 'Staatliches', cursive;
  text-align: center;
}

.intro{
  text-align: left;
}

.Contact{
  text-align: center;
  align-content: center;
}

.work{
  color: Black;
  font-weight:100;
  font-size: 18px;
  line-height: 20px;
  padding-top: 5%
}

.buttons{
  margin-top: 10%;
  text-align: center;
}
